body {
    background-color:#EFE6CD;
}

p {
    padding: 10px;
}

#pic1 {
    width: 70%;
    
}
#pic2 {
    width: 66%;
}
#pic3 {
    width: 60%;
}
#pic4 {
    width: 60%;
}

.named {color:#3E6F6B;}

/* section {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    align-items: flex-start;
} */

nav ul li {
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    width: 30%;
    /* border: 2px solid none; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card1 {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.loop-img {
    width: 200px;
    display: inline-block;
}

#manyB {
    display: inline-block;

}